extends layout

block content
  -for(let i=0;i<title.length;i++)
    a(href=title[i].href target='_blank')
      img(src=title[i].imgSrc)
      p title : #{title[i].title}
      p salePercentage : #{title[i].sale_percentage}
      p originalPrice : #{title[i].original_price}
      p salePrice : #{title[i].sale_price}
      p url : #{title[i].url}
      p
        img(src=title[i].url_img)
      p amount_review : #{title[i].amount_review}

    br